<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

	<!--
	<system.net>
		<defaultProxy enabled="true">
			<proxy bypassonlocal="False" proxyaddress="http://127.0.0.1:8888" />
		</defaultProxy>
	</system.net>
	-->
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
	<validation validateIntegratedModeConfiguration="false" />
	<security>
		<requestFiltering allowDoubleEscaping="true" />
	</security>
  </system.webServer>
</configuration>
